@import 'normalize.css';
@import 'token.css';

* {
	box-sizing: border-box;
}

fieldset, ul, ol, h1, h2, h3, h4, h5, h6, p, button {
	border: 0;
	padding: 0;
	margin: 0;
}

ul, ol {
	list-style: disc inside;
}
::marker {
	margin-right: calc(var(--margin-unit) * 1);
}

:focus-visible {
	outline-color: var(--brand-color);
	outline-width: 2px;
	outline-style: dotted;
	outline-offset: 1px;
}

a {
	color: var(--text-link-color);
	text-decoration: none;
	cursor: pointer;
}
a:link, a:visited, a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

button {
	background-color: transparent;
}

hr {
	margin: 0;
	border: 0 solid var(--divider-color);
	border-bottom-width: thin;
	border-right-width: thin;
	align-self: stretch;
	height: auto;
	flex-shrink: 0;
}

svg {
	width: 1em;
	height: 1em;
	font-size: inherit;
}

body {
	color: var(--text-color-1);
	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size);
	height: 100vh;
	background-color: var(--surface-color-1);
}

#app {
	height: 100vh;
}
