@import 'scheme/light.css';

:root {
	--global-spacing-unit: 8px;
	--global-padding-unit: var(--global-spacing-unit);
	--global-margin-unit: var(--global-spacing-unit);
	--global-border-radius-unit: 4px;

	--global-breakpoint-xs: 300px;
	--global-breakpoint-sm: 600px;
	--global-breakpoint-md: 900px;
	--global-breakpoint-lg: 1200px;
	--global-breakpoint-xl: 1500px;

	--global-index-layer-1: 100;
	--global-index-layer-2: 200;
	--global-index-layer-3: 300;
	--global-index-layer-4: 400;
	--global-index-layer-5: 500;
	--global-index-layer-6: 600;

	--global-font-family: Cantarell, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    Inter, Avenir, Helvetica, Arial, system-ui, sans-serif;
	--global-font-weight-light: 300;
	--global-font-weight-regular: 400;
	--global-font-weight-medium: 500;
	--global-font-weight-bold: 700;
	--global-font-size: 1rem;
	--global-line-height: 1em;
	--global-letter-spacing-tighter: -0.05em;
	--global-letter-spacing-tight: -0.025em;
	--global-letter-spacing-normal: 0em;
	--global-letter-spacing-wide: 0.025em;
	--global-letter-spacing-wider: 0.05em;
	--global-letter-spacing-widest: 0.1em;

	--global-shadow-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	--global-shadow-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
		0px 2px 2px 0px rgba(0, 0, 0, 0.14),
		0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	--global-shadow-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
		0px 4px 5px 0px rgba(0, 0, 0, 0.14),
		0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	--global-shadow-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
		0px 8px 10px 1px rgba(0, 0, 0, 0.14),
		0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	--global-shadow-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
		0px 12px 17px 2px rgba(0, 0, 0, 0.14),
		0px 5px 22px 4px rgba(0, 0, 0, 0.12);
	--global-shadow-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
		0px 16px 24px 2px rgba(0, 0, 0, 0.14),
		0px 6px 30px 5px rgba(0, 0, 0, 0.12);
	--global-shadow-20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
		0px 20px 31px 3px rgba(0, 0, 0, 0.14),
		0px 8px 38px 7px rgba(0, 0, 0, 0.12);
	--global-shadow-24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
		0px 24px 38px 3px rgba(0, 0, 0, 0.14);
}

:root {
	--divider-color: var(--border-color);

  /* action overlay transparency */
  --action-overlay-transparency-factor: 1.0;
  --hover-overlay-transparency: calc(10% * var(--action-overlay-transparency-factor));
	--active-overlay-transparency: calc(16% * var(--action-overlay-transparency-factor));
	--focus-overlay-transparency: calc(5% * var(--action-overlay-transparency-factor));
	--select-overlay-transparency: calc(7% * var(--action-overlay-transparency-factor));
	--disable-overlay-transparency: calc(38% * var(--action-overlay-transparency-factor));

  /* action saturation lightness offset */
	--disable-action-color-offset: -17%;
  --hover-action-color-offset: 10%;
	--select-action-color-offset: 12%;
	--focus-action-color-offset: 15%;
	--active-action-color-offset: -5%;

  /* brand */
  --brand-color-hue: 30;
  --brand-color-saturation: 96%;
  --brand-color-lightness: 51%;
	--brand-color-original: hsl(var(--brand-color-hue) var(--brand-color-saturation) var(--brand-color-lightness));

  /* state color hue */
  --info-color-hue: 203;
  --success-color-hue: 120;
  --warning-color-hue: 44;
  --warning-color-hue: 49;
  --failure-color-hue: 2;

  /****************** dark ******************/
  --brand-color-dark-saturation: 59%;
  --brand-color-dark-lightness: 36%;
  --brand-color-dark: hsl(var(--brand-color-hue) var(--brand-color-dark-saturation) var(--brand-color-dark-lightness));

  --text-color-dark-1: hsl(var(--brand-color-hue) 15% 85%);
  --text-color-dark-2: hsl(var(--brand-color-hue) 5% 65%);
  --text-link-color-dark: hsl(225 80% 85%);

  --surface-color-dark-1: hsl(var(--brand-color-hue) 10% 10%);
  --surface-color-dark-2: hsl(var(--brand-color-hue) 10% 15%);
  --surface-color-dark-3: hsl(var(--brand-color-hue) 5% 20%);
  --surface-color-dark-4: hsl(var(--brand-color-hue) 5% 25%);

  --border-color-dark: hsl(var(--brand-color-hue) 10% 40%);
  --shadow-color-dark: var(--brand-color-hue) 50% 3%;
  --shadow-strength-dark: .8;

  /* dim */
  --brand-color-dim-saturation: 39%;
  --brand-color-dim-lightness: 31%;
  --brand-color-dim: hsl(var(--brand-color-hue) var(--brand-color-dim-saturation) var(--brand-color-dim-lightness));
  --text-color-dim-1: hsl(var(--brand-color-hue) 15% 75%);
  --text-color-dim-2: hsl(var(--brand-color-hue) 10% 61%);
  --text-link-color-dim: hsl(214 82% 81%);
  --surface-color-dim-1: hsl(var(--brand-color-hue) 10% 20%);
  --surface-color-dim-2: hsl(var(--brand-color-hue) 10% 25%);
  --surface-color-dim-3: hsl(var(--brand-color-hue) 5% 30%);
  --surface-color-dim-4: hsl(var(--brand-color-hue) 5% 35%);
  --border-color-dim: hsl(var(--brand-color-hue) 10% 50%);
  --shadow-color-dim: var(--brand-color-hue) 30% 13%;
  --shadow-strength-dim: .2;
}


[color-scheme="dark"] {
  color-scheme: dark;

  --brand-color: var(--brand-color-dark);
  --brand-color-saturation: var(--brand-color-dark-saturation);
  --brand-color-lightness: var(--brand-color-dark-lightness);
  --text-color-1: var(--text-color-dark-1);
  --text-color-2: var(--text-color-dark-2);
  --text-link-color: var(--text-link-color-dark);
  --surface-color-1: var(--surface-color-dark-1);
  --surface-color-2: var(--surface-color-dark-2);
  --surface-color-3: var(--surface-color-dark-3);
  --surface-color-4: var(--surface-color-dark-4);
  --border-color: var(--border-color-dark);
  --shadow-color: var(--shadow-color-dark);
  --shadow-strength: var(--shadow-strength-dark);
}

[color-scheme="dim"] {
  color-scheme: dim;

  --brand-color: var(--brand-color-dim);
  --brand-color-saturation: var(--brand-color-dim-saturation);
  --brand-color-lightness: var(--brand-color-dim-lightness);
  --text-color-1: var(--text-color-dim-1);
  --text-color-2: var(--text-color-dim-2);
  --text-link-color: var(--text-link-color-dim);
  --surface-color-1: var(--surface-color-dim-1);
  --surface-color-2: var(--surface-color-dim-2);
  --surface-color-3: var(--surface-color-dim-3);
  --surface-color-4: var(--surface-color-dim-4);
  --border-color: var(--border-color-dim);
  --shadow-color: var(--shadow-color-dim);
  --shadow-strength: var(--shadow-strength-dim);
}

.global_surface1 {
  background-color: var(--surface-color-1);
  color: var(--text-color-2);
}

.global_surface2 {
  background-color: var(--surface-color-2);
  color: var(--text-color-2);
}

.global_surface3 {
  background-color: var(--surface-color-3);
  color: var(--text-color-1);
}

.global_surface4 {
  background-color: var(--surface-color-4);
  color: var(--text-color-1);
}

/* TODO: predefine shadows */
.rad-shadow {
  border: 1px solid hsl(var(--brand-color-hue) 10% 50% / 15%);
  box-shadow: 0 1rem .5rem -.5rem;
  box-shadow:
    0 2.8px 2.2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + .03)),
    0 6.7px 5.3px hsl(var(--shadow-color) / calc(var(--shadow-strength) + .01)),
    0 12.5px 10px hsl(var(--shadow-color) / calc(var(--shadow-strength) + .02)),
    0 22.3px 17.9px hsl(var(--shadow-color) / calc(var(--shadow-strength) + .02)),
    0 41.8px 33.4px hsl(var(--shadow-color) / calc(var(--shadow-strength) + .03)),
    0 100px 80px hsl(var(--shadow-color) / var(--shadow-strength))
  ;
}
