.heading1 {
	--heading1-font-size: calc(var(--font-size) * 6);

	font-family: var(--font-family);
	font-weight: var(--font-weight-light);
	font-size: var(--heading1-font-size);
	line-height: calc(var(--line-height) * 1.2);
	letter-spacing: var(--letter-spacing-wider);
}

.heading2 {
	--heading2-font-size: calc(var(--font-size) * 3.75);

	font-family: var(--font-family);
	font-weight: var(--font-weight-light);
	font-size: var(--heading2-font-size);
	line-height: calc(var(--line-height) * 1.2);
	letter-spacing: var(--letter-spacing-wider);
}

.heading3 {
	--heading3-font-size: calc(var(--font-size) * 3);

	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--heading3-font-size);
	line-height: calc(var(--line-height) * 1.2);
	letter-spacing: var(--letter-spacing-wider);
}

.heading4 {
	--heading4-font-size: calc(var(--font-size) * 2.125);

	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--heading4-font-size);
	line-height: calc(var(--line-height) * 1.2);
	letter-spacing: var(--letter-spacing-wide);
}

.heading5 {
	--heading5-font-size: calc(var(--font-size) * 1.5);

	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--heading5-font-size);
	line-height: calc(var(--line-height) * 1.2);
	letter-spacing: var(--letter-spacing-wide);
}

.heading6 {
	--heading6-font-size: calc(var(--font-size) * 1.25);

	font-family: var(--font-family);
	font-weight: var(--font-weight-medium);
	font-size: var(--heading6-font-size);
	line-height: calc(var(--line-height) * 1.2);
	letter-spacing: var(--letter-spacing-wide);
}

.subtitle1 {
	--subtitle1-font-size: calc(var(--font-size) * 1);

	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--subtitle1-font-size);
	line-height: calc(var(--line-height) * 1.15);
	letter-spacing: var(--letter-spacing-normal);
}

.subtitle2 {
	--subtitle2-font-size: calc(var(--font-size) * 0.875);

	font-family: var(--font-family);
	font-weight: var(--font-weight-medium);
	font-size: var(--subtitle2-font-size);
	line-height: calc(var(--line-height) * 1.15);
	letter-spacing: var(--letter-spacing-normal);
}

.body1 {
	--body1-font-size: calc(var(--font-size) * 1);

	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--body1-font-size);
	line-height: calc(var(--line-height) * 1.1);
	letter-spacing: var(--letter-spacing-tight);
}

.body2 {
	--body2-font-size: calc(var(--font-size) * 0.875);

	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--body2-font-size);
	line-height: calc(var(--line-height) * 1.1);
	letter-spacing: var(--letter-spacing-tight);
}

.button_small {
	--button-font-size: calc(var(--font-size) * 0.75);

	font-family: var(--font-family);
	font-weight: var(--font-weight-medium);
	font-size: var(--button-font-size);
	line-height: calc(var(--line-height) * 1.2);
	letter-spacing: var(--letter-spacing-normal);
	text-transform: uppercase;
}

.button_medium {
	--button-font-size: calc(var(--font-size) * 0.875);

	font-family: var(--font-family);
	font-weight: var(--font-weight-medium);
	font-size: var(--button-font-size);
	line-height: calc(var(--line-height) * 1.2);
	letter-spacing: var(--letter-spacing-wide);
	text-transform: uppercase;
}

.button_large {
	--button-font-size: calc(var(--font-size) * 1);

	font-family: var(--font-family);
	font-weight: var(--font-weight-medium);
	font-size: var(--button-font-size);
	line-height: calc(var(--line-height) * 1.2);
	letter-spacing: var(--letter-spacing-wider);
	text-transform: uppercase;
}

.caption, .tag_small {
	--caption-font-size: calc(var(--font-size) * 0.75);

	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--caption-font-size);
	line-height: calc(var(--line-height) * 1.1);
	letter-spacing: var(--letter-spacing-tighter);
}

.tag_medium {
	--tag-medium-font-size: calc(var(--font-size) * 0.875);

	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--tag-medium-font-size);
	line-height: calc(var(--line-height) * 1.1);
	letter-spacing: var(--letter-spacing-tighter);
}

.tag_large {
	--tag-medium-font-size: calc(var(--font-size) * 1);

	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--tag-medium-font-size);
	line-height: calc(var(--line-height) * 1.1);
	letter-spacing: var(--letter-spacing-tighter);
}

.overline {
	--overline-font-size: calc(var(--font-size) * 0.75);

	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--overline-font-size);
	line-height: calc(var(--line-height) * 1.1);
	letter-spacing: var(--letter-spacing-tighter);
	text-transform: uppercase;
}

.input_small {
	--input-font-size: calc(var(--font-size) * 0.75);

	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--input-font-size);
	line-height: calc(var(--line-height) * 1.05);
	letter-spacing: var(--letter-spacing-normal);
}

.input_medium {
	--input-font-size: calc(var(--font-size) * 0.875);

	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--input-font-size);
	line-height: calc(var(--line-height) * 1.05);
	letter-spacing: var(--letter-spacing-normal);
}

.input_large {
	--input-font-size: calc(var(--font-size) * 1);

	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--input-font-size);
	line-height: calc(var(--line-height) * 1.05);
	letter-spacing: var(--letter-spacing-normal);
}

.helper_text {
	composes: caption;
	color: var(--text-color-2);
}

.error_message {
	composes: caption;
	color: var(--failure-color);
}
